<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button>
          <ion-menu-button>
          </ion-menu-button>
          <ion-back-button></ion-back-button>
      </ion-button>
    </ion-buttons>
   <ion-title>Agendar nova consulta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- campo nome  -->
  <ion-list>
  <ion-item>
      <ion-label color="primary" position="floating">Digite por favor seu nome</ion-label>
      <ion-input type="text"[(ngModel)]="nome"></ion-input>
  </ion-item>



  <ion-item>
    <ion-label color="primary">Qual a especialidade</ion-label>
    <ion-select placeholder="Selecione" [(ngModel)]="especialidadeSelecionada">
      <ion-select-option *ngFor="let especialidade of especialidades" value={{especialidade.nome}}>{{especialidade.nome}}</ion-select-option>
    </ion-select>
  </ion-item>
  


  <ion-item>
    <ion-label>Data</ion-label>
  
    <ion-datetime
    [showDefaultTitle]="true"
   style="margin-right: 10px; margin-top: 10px;"
    presentation="date-time" 
    locale="pt-BR"
    [(ngModel)]="data" color="secondary">
    <span slot="title">Selecione uma data e hora</span>
  </ion-datetime>
</ion-item>
<ion-item>
  <ion-label color="primary" position="floating">Motivo da consulta</ion-label>
  <ion-input type="text"[(ngModel)]="motivo"></ion-input>
</ion-item>



</ion-list>
  <br>
<ion-button shape="round" expand="block" (click)="agendaConsulta()">
  Enviar
</ion-button>


</ion-content>