<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-button>
        <ion-back-button>
        </ion-back-button>
      </ion-button>
    </ion-buttons>

    <ion-title>
      Consultas disponíveis para {{nome}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
   <ion-list>
    <ion-item *ngIf="disponivel == false">
      <ion-label color="danger">Esse médico não tem agendamentos disponíveis no momento.</ion-label>
    </ion-item>
    <ion-item *ngFor="let consulta of consultas" (click)="confirmaAgendamento(nome,consulta)">
      <ion-label>
        <h2>{{consulta}}</h2>
      </ion-label>
    </ion-item>
  </ion-list>  
  </ion-content>
