<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button>
        <ion-back-button>
          
        </ion-back-button>
      </ion-button>
    </ion-buttons>
    <ion-title>Consulta confirmada</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Detalhes da consulta</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-text>
        <h2>Consulta confirmada com:</h2>
        <h4><b>{{nome}}</b></h4>
      </ion-text>
      <br/>
      <ion-text>
        <h2>Especialidade da consulta:</h2>
        <h4><b>{{consulta}}</b></h4>
      </ion-text>
      <br/>
      <ion-text>
        <h2>Horário agendado:</h2>
        <h4><b>15:00</b></h4>
      </ion-text>
    </ion-card-content>
  </ion-card>
  <br/>
  <ion-card>
    <ion-item>
      <ion-icon name="pin" slot="start"></ion-icon>
      <ion-label>Localização</ion-label>
    </ion-item>
    
    <ion-card-content>
      <ion-text>
        <h2>Av. Itaquera 8266, São Paulo, SP, 08295-000</h2>

      </ion-text>
      
    </ion-card-content>
  </ion-card>
  <br/>
  <ion-card>
    <ion-item href="#" class="ion-activated">
      <ion-icon name="wifi" slot="start"></ion-icon>
      <ion-label>Wi-Fi disponível</ion-label>
    </ion-item>
  
    <ion-item class="ion-activated">
      <ion-icon name="warning" slot="start"></ion-icon>
      <ion-label>Retirada de senha</ion-label>
    </ion-item>
  
    <ion-item>
      <ion-icon name="walk" slot="start"></ion-icon>
      <ion-label>Ordem de chegada</ion-label>
    </ion-item>
  </ion-card>
</ion-content>
